html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: #B6A28E;
}
h1{
text-align: center;
    font-size: 3.4rem;
    font-weight: 800;
    padding: 1.6rem 3.2rem;
    background-color: black;
    color: gold;
}
h2{
    font-size: 2.4rem;
    margin-bottom: 1.8rem;
}
h3{
    text-align: center;
    padding: 0.9rem 1.6rem;
    font-size: 2.4rem;
    background-color: black;
    color: gold;
    margin-bottom: 3.2rem;
}
p {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}
a {
    font-size: 1.6rem;
    text-decoration: none;
}
img {
    border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
    width: 100%;
    position: relative;
}
button {
    background-color: darkorange;
    color: white;
    font-size: 1.4rem;
    border-style: none;
    padding: 8px 16px;
    border-radius: 4px;
    display: block;
    margin: auto;
}
button:hover {
    background-color: orangered;
}
.Ctgr{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(233, 233, 233, 0.904);
    color: rgb(155, 155, 155);
    z-index: 1;
    border-radius: 1.2rem 0px 4px 0px;
    padding: 0.6rem 0.8rem;
}
.card{
    max-width: 300px;
    width: fit-content;
    border-radius: 8px;
    background-color:#DCE4C9;
    margin-bottom: 4rem;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
}
.CardsCtnr{
	display: flex;flex-wrap:wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    background-color: #B6A28E;
    position: relative;
}
/* Debut Team Positionnement */
.Rltv{
    position: relative;
}
.AbsltZindex1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.flex {
    display: flex;
}
.SpcBtwn{
    justify-content: space-between;
}
.SpcArnd{
    justify-content: space-around;
}
.AlgnItmCntr{
    align-items: center;
}
/* Fin Team positionnement */